
<h1> <%= @user.name %> Profile Page</h1>

<p> Name: <%= @user.name %> </p>

<p> Gender: <%= @user.gender %> </p>

<p> Email: <%= @user.email %> </p>

<p> Date Of Birth: <%= @user.dob.strftime("%Y-%m-%d") %> </p>

<p> City: <%= @user.city %> </p>