<div class="container">
<br>
 <%= link_to 'Back to Volunteers', users_path, class: "btn btn-success" %>

<% if @user.id == current_user.id %>
    <%= link_to "Edit User", edit_user_registration_path, class: "btn btn-success" %>
<% end %>

    <% if current_user.admin? %>
    <% u = User.find(params[:id]) %>
    <%= link_to 'Delete User', "/users/#{@user.id}",class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete #{u.name}?"}  %>
    <% end %>

<br>
<br>

<h1 class="animated infinite fadeIn" style="color:green;"> <%= @user.name %> Profile Page</h1>

<br>
<br>

<p> Name: <%= @user.name %> </p>

<p> Gender: <%= @user.gender %> </p>

<p> Email: <%= @user.email %> </p>

<p> User Type: <%= @user.userType %> </p>

<p> Date Of Birth: <%= @user.dob.strftime("%Y-%m-%d") %> </p>

<p> City: <%= @user.city %> </p>

<h3> List of Volunteer Opportunties: </h3>
<ul>
    <% @user.opportunities.each do |opportunity| %>
        <li>
       <%= link_to opportunity.name, opportunity_path(opportunity) %>
        </li>
    <% end %>
</ul>

</div>


 