<!DOCTYPE html>
<html>
  <head>
    <title>IVolunteer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= current_user.to_json  %>
    <% if user_signed_in? && current_user.admin == true %>
    <h1> hello admin </h1>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <p>Welcome to iVolunteer website</p>
    <% else %>
    <h1> Poor user </h1>
     <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
