<!DOCTYPE html>
<html>
  <head>
    <title>IVolunteer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
      <%= link_to 'Home', root_path %>


    <% if user_signed_in? %>
    <%# <img src="http://kingdomvt.com/wp-content/uploads/2017/10/admin-ajax.php_.png"> %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    <%= link_to 'My Profile', user_path(current_user) %>
    <% else %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
